<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wooddeep.crane">

    <application
        android:label="@string/app_name"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wooddeep.crane.CraneSetting">
        </activity>
        <activity android:name="com.wooddeep.crane.AreaSetting">
        </activity>
        <activity android:name="com.wooddeep.crane.CalibrationSetting">
        </activity>
        <activity android:name="com.wooddeep.crane.AlarmSetting">
        </activity>
        <activity android:name="com.wooddeep.crane.LoadAttribute">
        </activity>
        <activity android:name="com.wooddeep.crane.ProtectSetting">
        </activity>
        <activity android:name="com.wooddeep.crane.DataRecord">
        </activity>
        <activity android:name="com.wooddeep.crane.views.SuperAdmin">
        </activity>

        <receiver android:name="com.wooddeep.crane.message.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />

</manifest>